<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WebServices.Services.Post.Insert">
        <endpoint address="" behaviorConfiguration="WebServices.Services.Post.InsertAspNetAjaxBehavior"
          binding="webHttpBinding" contract="WebServices.Services.Post.Insert" />
      </service>
      <service name="WebServices.Services.Post.Update">
        <endpoint address="" behaviorConfiguration="WebServices.Services.Post.UpdateAspNetAjaxBehavior"
          binding="webHttpBinding" contract="WebServices.Services.Post.Update" />
      </service>
      <service name="WebServices.Services.Post.Delete">
        <endpoint address="" behaviorConfiguration="WebServices.Services.Post.DeleteAspNetAjaxBehavior"
          binding="webHttpBinding" contract="WebServices.Services.Post.Delete" />
      </service>
      <service name="WebServices.Services.Post.GetAll">
        <endpoint address="" behaviorConfiguration="WebServices.Services.Post.GetAllAspNetAjaxBehavior"
          binding="webHttpBinding" contract="WebServices.Services.Post.GetAll" />
      </service>
      <service name="WebServices.Services.Post.GetById">
        <endpoint address="" behaviorConfiguration="WebServices.Services.Post.GetByIdAspNetAjaxBehavior"
          binding="webHttpBinding" contract="WebServices.Services.Post.GetById" />
      </service>
      <service name="WebServices.Services.Tag.Insert">
        <endpoint address="" behaviorConfiguration="WebServices.Services.Tag.InsertAspNetAjaxBehavior"
          binding="webHttpBinding" contract="WebServices.Services.Tag.Insert" />
      </service>
      <service name="WebServices.Services.Tag.Update">
        <endpoint address="" behaviorConfiguration="WebServices.Services.Tag.UpdateAspNetAjaxBehavior"
          binding="webHttpBinding" contract="WebServices.Services.Tag.Update" />
      </service>
      <service name="WebServices.Services.Tag.Delete">
        <endpoint address="" behaviorConfiguration="WebServices.Services.Tag.DeleteAspNetAjaxBehavior"
          binding="webHttpBinding" contract="WebServices.Services.Tag.Delete" />
      </service>
      <service name="WebServices.Services.Tag.GetAll">
        <endpoint address="" behaviorConfiguration="WebServices.Services.Tag.GetAllAspNetAjaxBehavior"
          binding="webHttpBinding" contract="WebServices.Services.Tag.GetAll" />
      </service>
      <service name="WebServices.Services.Tag.GetById">
        <endpoint address="" behaviorConfiguration="WebServices.Services.Tag.GetByIdAspNetAjaxBehavior"
          binding="webHttpBinding" contract="WebServices.Services.Tag.GetById" />
      </service>
      <service name="WebServices.Services.User.Insert">
        <endpoint address="" behaviorConfiguration="WebServices.Services.User.InsertAspNetAjaxBehavior"
          binding="webHttpBinding" contract="WebServices.Services.User.Insert" />
      </service>
      <service name="WebServices.Services.User.Update">
        <endpoint address="" behaviorConfiguration="WebServices.Services.User.UpdateAspNetAjaxBehavior"
          binding="webHttpBinding" contract="WebServices.Services.User.Update" />
      </service>
      <service name="WebServices.Services.User.GetById">
        <endpoint address="" behaviorConfiguration="WebServices.Services.User.GetByIdAspNetAjaxBehavior"
          binding="webHttpBinding" contract="WebServices.Services.User.GetById" />
      </service>
      <service name="WebServices.Services.User.GetAll">
        <endpoint address="" behaviorConfiguration="WebServices.Services.User.GetAllAspNetAjaxBehavior"
          binding="webHttpBinding" contract="WebServices.Services.User.GetAll" />
      </service>
      <service name="WebServices.Services.User.Delete">
        <endpoint address="" behaviorConfiguration="WebServices.Services.User.DeleteAspNetAjaxBehavior"
          binding="webHttpBinding" contract="WebServices.Services.User.Delete" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebServices.Services.Post.InsertAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="WebServices.Services.Post.UpdateAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="WebServices.Services.Post.DeleteAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="WebServices.Services.Post.GetAllAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="WebServices.Services.Post.GetByIdAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="WebServices.Services.Tag.InsertAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="WebServices.Services.Tag.UpdateAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="WebServices.Services.Tag.DeleteAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="WebServices.Services.Tag.GetAllAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="WebServices.Services.Tag.GetByIdAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="WebServices.Services.User.InsertAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="WebServices.Services.User.UpdateAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="WebServices.Services.User.GetByIdAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="WebServices.Services.User.GetAllAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="WebServices.Services.User.DeleteAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
